$myFont:Karla,Roboto, Helvetica, sans-serif;

$maincolor:#1E2331; 
$secondcolor:#293041;
$textcolor:#D4DAEC;
$greencolor: #18967F;

$fontsize18px:18px;
$fontsize24px:24px;
$fontsize48px:48px;

$fontweightregular:400px;
$fontweightbold:600px;

$grandientone: linear-gradient(149.45deg, rgba(30, 35, 49, 0.5) 19.27%, #444E6A 74.24%);
$grandienttwo: linear-gradient(122.77deg, rgba(142, 154, 186,1) 6.47%, #5D6A8F 92.23%);
$radialcolor:radial-gradient(50% 50% at 50% 50%, #5D6ABE 0%, rgba(30,35,49,0) 100%);

$transform:rotate(-63.03deg);  